html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  color: #000;
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  display: inline-block;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  background-color: #e8ebf1;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.header__logo a {
  color: #2aacc8;
  font-size: 50px;
  font-weight: 400;
}

.header__logo a span {
  font-weight: 700;
  color: #000;
}

.header__menu {
  margin-right: 20px;
}

.header__menu li+li {
  margin-left: 50px;
}

.header__menu a {
  font-family: 'arial', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 13px;
}

.drop-down__list {
  display: none;
  position: absolute;
  width: 200px;
  background-color: #fff;
  border: 1px solid rgb(232, 235, 241);
  border-bottom: 5px solid #2aacc8;
  border-top: none;
  box-shadow: 0px 5px 0px 0px rgba(42, 172, 200, 0.004);
  padding: 10px 5px;
  z-index: 1;

}


.drop-down__list a {
  padding: 12px 11px;
  font-weight: 400;
  display: block;
  text-transform: none;
}

.drop-down__list a:hover {
  color: #2aacc8;
}

.header__drop-down .drop-down__list li {
  margin-left: 0;
  display: block;
}

.drop-down__list li+li a {
  border-top: 1px solid #e7e7e7;
}

.header__drop-down.drop-down {
  margin-left: 39px;
}

.header__drop-down.drop-down+.header__drop-down.drop-down {
  margin-left: 12px;
}

.header__drop-down.drop-down+.header__link-blog {
  margin-left: 20px;
}


.header__drop-down {
  position: relative;
}

.header__drop-down>a {
  position: relative;
  padding-left: 11px;
  padding-right: 26px;
  border-top: 5px solid transparent;

  border-left: 1px solid rgb(232, 235, 241);
  box-shadow: 0px 5px 0px 0px rgba(42, 172, 200, 0.004);
}

.header__drop-down>a::after {
  content: "";
  position: absolute;
  background-image: url(../imajes/down_arrow.png);
  width: 7px;
  height: 5px;
  right: 10px;
  top: 16px;
}

.header__drop-down.drop-down:hover .drop-down__list {
  display: block;
  /* transition: all .3s; */
}

.header__drop-down.drop-down:hover>a {
  color: #2aacc8;
  border-top: 5px solid #2aacc8;
  background-color: #fff;
  /* transition: all .3s; */
}

/* все, что нииже, относится к слайдеру */

.slider {
  background-color: #81e4ed;
  padding: 20px 0px 40px;
}

.slider__item {
  background-image: url(../imajes/slider-bg.jpg);
  min-height: 440px;
  /* делается для мобиильной версииии сайта */
  background-position: top center;
  block-size: cover;
  background-repeat: no-repeat;
  /* делается для мобиильной версииии сайта */
}

.slider__item-title {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  width: 294px;
  margin-left: 61px;
  padding-top: 102px;
}

/* ---------------------- */
.slider__inner .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;

}

.slider__inner .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider__inner .slick-dots li button {
  font-size: 0;
  width: 14px;
  height: 14px;
  background-color: rgba(98, 98, 98, .5);
  border-radius: 50%;
}

/* .slider__inner .slick-dots li button:focus{
  background-color: #fff;
} */

.slick-active .dot-trumb {
   background: #fff;
  }

button{
  border-width: 0;
  border-style: none;
}

.slick-active{
  border: none;
}

.slick-dots li button:before {

   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

