body{
  margin: 0;
  padding: 10;
}

.alt{
  margin-left: 30px;
}


.background-image{
  margin: 0;
}
.blog{
  ul{
    margin: 0;
  }
}
.blog{
  padding: 0;
}
.class{
  padding: 0;
  margin: 0;
}

.start{
  margin: 0;
}

.test2{
  padding: 0;
}

